{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	
	{% if atual %}
    <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> Existe uma nova versão do módulo <b>{{ module_name }}</b> faça o download <a href="{{ murl }}" target="_blank">AQUI</a>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
	    <ul class="nav nav-tabs" id="tabs">
            <li><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li class="active"><a href="#tab-help" data-toggle="tab">{{ tab_help }}</a></li>
          </ul>
	 <div class="tab-content">

    <div class="tab-pane" id="tab-general">
	    <div class="form-group">
                <label class="col-sm-2 control-label" for="input-numero">{{ entry_numero }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_whatsmaster_numero" value="{{ module_whatsmaster_numero }}" placeholder="{{ entry_numero }}" id="input-numero" class="form-control" />
                </div>
              </div>
	         <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_whatsmaster_image" value="{{ module_whatsmaster_image }}" id="input-image" />
                </div>
              </div>
			  
			  <div class="form-group">
           <label class="col-sm-2 control-label" for="input-posicao">{{ entry_posicao }}</label>
            <div class="col-sm-5">
              
                <label class="radio-inline">
               {% if module_whatsmaster_posicao %}
                <input type="radio" name="module_whatsmaster_posicao" value="1" checked="checked" />
                {{ text_left }}
                {% else %}
                <input type="radio" name="module_whatsmaster_posicao" value="1" />
                 {{ text_left }}
                {% endif %}
              </label>
              <label class="radio-inline">
                 {% if not module_whatsmaster_posicao %}
                <input type="radio" name="module_whatsmaster_posicao" value="0" checked="checked" />
                {{ text_right }}
                {% else %}
                <input type="radio" name="module_whatsmaster_posicao" value="0" />
                 {{ text_right }}
                {% endif %}
              </label>
              
            </div>
          </div>
		  
		  <div class="form-group">
                <label class="col-sm-2 control-label" for="input-horizontal">{{ entry_hor }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_whatsmaster_horizontal" value="{{ module_whatsmaster_horizontal }}" placeholder="{{ entry_hor }}" id="input-horizontal" class="form-control" />
                </div>
              </div>
			  
			  <div class="form-group">
                <label class="col-sm-2 control-label" for="input-vertical">{{ entry_ver }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_whatsmaster_vertical" value="{{ module_whatsmaster_vertical }}" placeholder="{{ entry_ver }}" id="input-vertical" class="form-control" />
                </div>
              </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-5">
              <select name="module_whatsmaster_status" id="input-status" class="form-control">
                {% if module_whatsmaster_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                 {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                 {% endif %}
              </select>
			  <br>
			        </div>
          </div>
		  </div>
           
       <div class="tab-pane active" id="tab-help">
       <p>{{ text_pix }}</p>
	   <fieldset>
       <legend>{{ text_h }}</legend>
       <h4><i class="fa fa-code"></i> {{ text_m }} {{ module_name }} - {{ text_v }} {{ version }} </h4>
       <h4><i class="fa fa-envelope"></i> <a href="mailto:suporte@opencartmaster.com.br">suporte@opencartmaster.com.br</a></h4>
       <h4><i class="fa fa-whatsapp"></i> <a href="https://wa.me/551142542450" target="_blank">11 4254-2450</a></h4>
       <h4><i class="fa fa-globe"></i> https://www.opencartmaster.com.br</h4>
	   <p>{{ text_support }}</p>
       </fieldset>
	   </div>
		 
		</div>
  
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
